services:

  backend:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - 8080:8080
    depends_on:
      postgres:
        condition: service_healthy
      goose-migrations:
        condition: service_completed_successfully
    env_file:
      - .env

  postgres:
    image: postgres:15
    environment:
      POSTGRES_HOST: postgres
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - ${POSTGRES_PORT}:5432
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 2s
      timeout: 3s
      retries: 20
      start_period: 5s

  goose-migrations:
    image: golang:1.25-alpine
    working_dir: /backend
    volumes:
      - ./:/backend
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      GOOSE_DRIVER: postgres
      GOOSE_DBSTRING: postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:${POSTGRES_PORT}/${POSTGRES_DB}?sslmode=${POSTGRES_SSLMODE}
    entrypoint: ["go"]
    command: ["run", "github.com/pressly/goose/v3/cmd/goose@v3.26.0", "-dir", "./migrations", "up"]
    restart: "no"

  tests:
    profiles: ["test"]
    image: golang:1.25-alpine
    working_dir: /backend
    volumes:
      - ./:/backend
    depends_on:
      postgres:
        condition: service_healthy
      goose-migrations:
        condition: service_completed_successfully
    environment:
      POSTGRES_HOST: postgres
      POSTGRES_PORT: 5432
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_SSLMODE: disable
    command: ["go", "test", "-count=1", "-p", "1", "./..."]
    restart: "no"

volumes:
  postgres_data: